#krbxviewer {
    z-index: 1000;
}
#krbxviewer, #krbxviewer .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#krbxviewer .bg {
    display: none;
    background: #333333;
    z-index: 1;
}
#krbxviewer img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#krbxviewer #krbxframe {
    background: #444044;
    border-radius: 1em;
    padding: 1em;
    margin: 2em auto 0;
    width: 90%; /* default, to be overridden with actual image size */
    box-shadow: 0 0 2em .4em black;
    position: relative;
    z-index: 20;
}
#krbxviewer p {
    margin: 1ex 0 0;
    color: #cccccc;
    text-shadow: -1px 0 black, 0 -1px black;
}
#krbxviewer .krbxbtns, #krbxviewer #krbxclose{
    float: right;
}
#krbxviewer :link, #krbxviewer :visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 .2em;
    padding: 0 .2em;
}
