#kratsbox {
    z-index: 1000;
}
#kratsbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, .8);
}
@keyframes kbFadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes kbFadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes kbFadeout {
    0% {opacity: 1; height: 100%;}
    100% {opacity: 0; height: 0;}
}
@-webkit-keyframes kbFadeout {
    0% {opacity: 1; height: 100%;}
    100% {opacity: 0; height: 0;}
}
#kratsbox.showing {
    animation-duration: 1s;
    animation-name: kbFadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: kbFadein;
    opacity: 1;
}
#kratsbox.hidden {
    animation-duration: 1s;
    animation-name: kbFadeout;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: kbFadeout;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
#kratsbox img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#kratsbox div {
    background: white;
    border-radius: 1em;
    padding: 1em 1em .2em 1em;
    margin: 1.5em auto 0;
    width: 90%; /* default, to be overridden with actual image size */
    box-shadow: 0 0 2em .4em black;
    position: relative;
    z-index: 20;
}
#kratsbox .extra {
    position: absolute;
    top: 1em;
    height: 90%;
    width: 30%;
}
#kratsbox a:hover {
    color: red;
    text-shadow: 1px 1px 2px black;
}

#kratsbox .prev .extra { left: 1em; }
#kratsbox .next .extra { right: 1em; }
#kratsbox .prev .extra:hover:before,
#kratsbox .next .extra:hover:before {
    display: block;
    position: absolute;
    top: 30%;
    background: white;
    padding: .5em .5em;
    font-size: 2em;
}
#kratsbox .prev .extra:hover:before {
    content: '\2190'; left: 0;
    border-radius: 0 1ex 1ex 0;
}
#kratsbox .next .extra:hover:before {
    content: '\2192'; right: 0;
    border-radius: 1ex 0 0 1ex;
}

#kratsbox p {
    margin: 0;
    padding: .3em 0;
    color: #222222;
    overflow: hidden;
    text-align: left;
}
#kratsbox .single .next,
#kratsbox .single .prev {
    display: none;
}
#kratsbox .krbxbtn {
    float: right;
}
#kratsbox :link, #kratsbox :visited {
    color: black;
}
#kratsbox .krbxbtn:link, #kratsbox .krbxbtn:visited {
    font-weight: bold;
    text-decoration: none;
    margin: 0 .2em;
    padding: .2em;
}
